.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 120rem;
  width: 100%;
  min-width: 20rem;
}

#input-field {
  width: 38%;
  padding: 0.5em;
  border-radius: 2em;
}

img {
  max-width: 10em;
  max-height: 10em;
  /* margin-top: 10px;
  margin-bottom: 7px; */
}

.logo {
  margin-top: 20px;
}

.search-results{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-btn{
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 2em;
}

  /* Pagination */
  .users-per-page {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
  }

  .users-per-page select,.pagination button {
    outline: none;
    padding: 0.5em;
    border: 5px;
    border: none;    
    border-radius: 2em;

  }
  .users-per-page select{
    margin-right: 5px;
    margin-left: 5px;
  }

  .users-per-page .pagination button {
    margin-left: 3px;
  }