.repo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    color: black;
    background-color: #ffdbe1;
    width: max(18rem, 23rem);
    /* height: max(6rem, 10rem); */
    box-shadow: 3px 3px #ffb2bf;
    padding: 10px;
    margin: 0em 2em 2em 2em;
    overflow: hidden;
    row-gap: 1em;
    border-radius: 2em;
  }
  
  .repo-name {
      color: black;
  }
  
  a:link{
      color: black;
  }
  
  a:visited {
      color: #ffb2bf;
  }

  .descBtn {
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 2em;
  }



