.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  text-align: center;
  color: black;
  background-image: url("../assets/bvkg.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-size: s; */
}

.gitlogo {
  margin-top: 20px;
}

.user-card {
  background-color: white;
  max-width: 23rem;
  width: 50%;
  box-shadow: 3px 3px rgba(211, 211, 211, 0.945);
  padding: 10px;
  min-width: 15rem;
  color: black;
  
}

.gitlogo {
  filter: saturate(500%) contrast(800%) brightness(100%) 
      invert(100%) sepia(50%) hue-rotate(120deg); 
}

.user-card img {
  max-width: 15em;
  max-height: 15em;
  border-radius: 50%;
}

.user-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;

}

.visit-btn, .back-btn {
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 5px;
}

.user-repos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-link {
  color: black;
}

/* Pagination */
 .repos-per-page {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
  }

  .repos-per-page select,.pagination button {
    outline: none;
    padding: 0.5em;
    border: 5px;
    border: none;
  }
  .repos-per-page select{
    margin-right: 5px;
    margin-left: 5px;
  }

  @media screen and (max-width: 530px){
    .twitter_username {
      text-align: center;
    }
    img {
      max-width: 8rem;
      max-height: 8rem;
    }
    .repos-per-page {
      justify-content: center;

    }
  }