* {
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

}

body {
  background-color: pink;
  background-image: url("components/assets/bvkg.png");
  background-size: contain;
  background-position: center center;
}