.repo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    color: white;
    background-color: black;
    width: max(10%, 20rem);
    box-shadow: 3px 3px rgba(211, 211, 211, 0.945);
    padding: 10px;
    margin: 0em 2em 2em 2em;
  }
  
  .repo-name {
      color: white;
  }
  
  a:link{
      color: white;
  }
  
  a:visited {
      color: pink;
  }