.users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
}

.user-card {
    background-color: white;
    max-width: 30rem;
    box-shadow: 3px 3px rgba(211, 211, 211, 0.945);
    padding: 10px;
    
  }
  
  .user-card img {
    max-width: 15em;
    max-height: 15em;
    border-radius: 50%;
  }

  .user-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;

  }
  
  .visit-btn, .back-btn {
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 5px;

  }